<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>

    {% include "css_files.html" %}

    {% block head_extra %}{% endblock %}
  </head>
  <body>
    {% include "navbar.html" %}

    <div class="container">
      {% include "messages.html" %}

      {% block body %}{% endblock %}
    </div>

    {% include "js_files.html" %}

    {% block body_extra %}{% endblock %}

    <script type="text/javascript">
      $(document).ready(function(){
        $("img").each(function(){
          $(this).addClass("img-responsive")
        })
      });
    </script>
  </body>
</html>
